<div class="pokedex">
    <div class="row">
        <div class="col-6 search">
            <div class="row header">
                <div class="col-8 info">
                    <h1 class="title">{{title}}</h1>
                    <p class="subtitle">{{subtitle}}</p>
                </div>
                <div class="col-4">
                    <div class="image-input"></div>
                </div>
            </div>
            <div class="row body">
                <div class="col-12">
                    <form>
                        <input type="text" placeholder={{placeholderInput}} class="form-control search-pokemon" maxlength="20">
                        <hr class="line">
                        <input type="submit" name={{bottonSearch}} id="" class="btn botton-search" value={{bottonSearch}} (click)="getPokemonName()">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12 filters">

                </div>
            </div>
        </div>
        <div class="col-6 data-pokemon">
           <div class="container">
            <div class="row">
                <div class="col-12" *ngIf="activatePokedex">
                   <div class="row">
                       <div class="col-3 sprite">
                            <img src="/assets/img/sprites/{{pokedex[0].name}}.gif" alt="{{pokedex[0].name}}" title="{{pokedex[0].name}}" class="image-sprite">
                       </div>
                       <div class="col-9 name">
                           <legend class="number-background">#{{pokedex[0].number}}</legend>
                           <span class="pokemon-numbre">#{{pokedex[0].number}}</span>
                           <h2 class="pokemon-name">{{pokedex[0].name}}</h2>
                       </div>
                   </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 info">

                </div>
            </div>
            <div class="row">
                <div class="col-12 stats">

                </div>
            </div>
           </div>
        </div>
    </div>
</div>
